    <footer>
        <p>Copyright © Elli Turner-Bisset <span class="date"><%= date %></span></p>
    </footer>
</main>
<!-- <script type="module" src="/index.js"></script> -->
<script>
// show password in register form
const input = document.getElementById("exampleInputPasswordRegister");
const togglePassword = document.querySelector("#togglePassword")
.addEventListener('click', (e) => {
    // console.log("clicked");
    const type = input.getAttribute("type") === "password" ? "text" : "password";
    input.setAttribute("type", type);
    e.target.classList.toggle("fa-eye");
});
//    const form = document.querySelector("form");
//     form.addEventListener('submit', function (e) {
//         e.preventDefault();
//     }); 
</script>
<script>
     // Voice note feature
window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
const recognition = new SpeechRecognition();
recognition.interimResults = true;
const mic = document.querySelector(".mic-btn");
const words = document.querySelector(".words");
mic.addEventListener("click", (event) => {
    recognition.start();
});
recognition.addEventListener("result", (e) => {
    const result = e.results[0][0].transcript;
    console.log(result);
    if (e.results[0][0].confidence > 0.9){
        const newContent = document.createTextNode(result);
        words.appendChild(newContent);
    }
});
</script>
<!-- add 1 additional item -->
<script>
    function addOneItem() {
        const items = document.getElementsByClassName("mb-3")
        const newNote = document.querySelector(".items");
        const newItem = document.createElement("div");
        for (let i = 5; i < items.length ; i++) {
            newItem.classList.add("mb-3");
            newItem.classList.add("list-item");
            newItem.innerHTML = `
            <label for="item${i}">${i}.</label>
            <input type="text" name="item" id="item${i}" class="item" >
            <p class="hidden"></p>
        `;
        };
        newNote.appendChild(newItem);
    };
</script>
<!-- add new note -->
<script>
    // const addBtnTitle = document.querySelector(".add-btn-title");
    // const listTitle = document.querySelector(".list-title");
    // const textTitle = document.querySelector(".hidden-title");
    // addBtnTitle.addEventListener("click", (e) => {
    //     e.preventDefault();
    //     listTitle.classList.toggle("hidden-title");
    //     textTitle.classList.toggle("show");
    //     textTitle.innerHTML = listTitle.value;
    // });
    
    //     const addBtns = document.querySelectorAll(".add-btn");
    //     const items = document.querySelectorAll(".item");
    //     const texts = document.querySelectorAll(".hidden");
    //     for (let i = 0; i < items.length; i++) {
    //         addBtns[i].addEventListener("click", (e) => {
    //             e.preventDefault();
    //             items[i].classList.toggle("hidden");
    //             texts[i].classList.toggle("show");
    //             // console.log(items[i].value);
    //             texts[i].innerHTML = items[i].value
            
    //        ;
    //     });
    // };
    
</script>
<!-- edit item function -->
<script>
    function handler(id) {
        document.getElementById("item" + id).setAttribute("hidden", true)
        document.getElementById("edit" + id).setAttribute("hidden", true)
        document.getElementById("done" + id).removeAttribute("hidden")
        document.getElementById("input" + id).removeAttribute("hidden")
    }
</script>

<!-- add btn event listener -->
<script>
    // document.addEventListener("click", function(e) {
    //     const target = e.target.closest(".add-btn");
    //     e.preventDefault();
    //     if (target) {
    //         console.log("clicked");
    //     }
    // })
    
    
</script>
<!-- done status of single items -->
<script>
        const singleItems = document.querySelectorAll(".singleItem") ; 
        singleItems.forEach((item) => {
            if (item.getAttribute('value') === 'true') {
                item.style.textDecoration = 'line-through';
                item.style.color = 'red';
            }
        });
</script>
</body>
</html>