    
    <footer>
        <p>Copyright © Elli Turner-Bisset <span class="date"><%= date %></span></p>
    </footer>
</main>
<!-- loading spinner -->
<script src="./../../contact.js"></script>
<script>
    document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                document.querySelector(
                "main").style.display = "none";
                document.querySelector(
                ".spinner").style.visibility = "visible";
                document.querySelector(
                ".spinner-container").style.visibility = "visible";
            } else {
                document.querySelector(
                ".spinner").style.display = "none";
                document.querySelector(
                ".spinner-container").style.display = "none";
                document.querySelector(
                "main").style.display = "flex";
            }
        };
</script>
<script>
// show password in register form and account info
const input = document.getElementById("exampleInputPasswordRegister");
const togglePassword = document.querySelector("#togglePassword")
.addEventListener('click', (e) => {
    const type = input.getAttribute("type") === "password" ? "text" : "password";
    input.setAttribute("type", type);
    e.target.classList.toggle("fa-eye");
});

const password = document.getElementById('account-password');
const togglePassword2 = document.querySelector("#togglePassword2")
.addEventListener('click', (e) => {
    console.log('click');
    const type2 = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type2);
    e.target.classList.toggle("fa-eye");
});
</script>
<script>
     // Voice note feature
window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
const recognition = new SpeechRecognition();
recognition.interimResults = true;
const mic = document.querySelector(".mic-btn");
const words = document.querySelector(".words");
mic.addEventListener("click", (event) => {
    recognition.start();
});
recognition.addEventListener("result", (e) => {
    const result = e.results[0][0].transcript;
    console.log(result);
    if (e.results[0][0].confidence > 0.9){
        const newContent = document.createTextNode(result);
        words.appendChild(newContent);
    }
});
</script>
<!-- add 1 additional item -->
<script>
    function addOneItem() {
        const items = document.getElementsByClassName("mb-3")
        const newNote = document.querySelector(".items");
        const newItem = document.createElement("div");
        for (let i = 5; i < items.length ; i++) {
            newItem.classList.add("mb-3");
            newItem.classList.add("list-item");
            newItem.innerHTML = `
            <label for="item${i}">${i}.</label>
            <input type="text" name="item" id="item${i}" class="item" >
            <p class="hidden"></p>
        `;
        };
        newNote.appendChild(newItem);
    };
</script>
<!-- edit item function -->
<script>
    function handler(id) {
        document.getElementById("item" + id).setAttribute("hidden", true)
        document.getElementById("edit" + id).setAttribute("hidden", true)
        document.getElementById("done" + id).removeAttribute("hidden")
        document.getElementById("input" + id).removeAttribute("hidden")
        
    }

    function handlerTitle(id) {
        document.getElementById("title" + id).setAttribute("hidden", true)
        document.getElementById("editTitle" + id).setAttribute("hidden", true)
        document.getElementById("inputTitle" + id).removeAttribute("hidden")
        document.getElementById("doneTitle" + id).removeAttribute("hidden")
    }
</script>
<!-- done status of single items -->
<script>
        const singleItems = document.querySelectorAll(".singleItem") ; 
        singleItems.forEach((item) => {
            if (item.getAttribute('value') === 'true') {
                item.style.textDecoration = 'line-through';
                item.style.color = 'red';
            }
        });
</script>
<!-- Saved note message  -->
<script>
    setTimeout(() => {
        const messageContainer = document.querySelector(".message-container");
        messageContainer.classList.add("hidden");
    }, 5000);
</script>
<!-- Dropdown menu -->
<script>
    const dropdown = document.querySelector('.dropdown-toggle');
    const dropdownMenu = document.querySelector('.dropdown-menu');
    dropdown.addEventListener('click', (e) => {
        dropdownMenu.classList.toggle('show');
    });
    window.addEventListener('click', (e) => {
        if (e.target.id !== 'nav-id') {
            dropdownMenu.classList.remove('show');
        }
    });
</script>
<!-- Validate contact form email -->
<script>
     
</script>
</body>
</html>