<%- include('partials/header') %>

<h1>Contact Us</h1>

<p>Waiting for updates, check back later.</p>

<div class="main-btn-container">
  <a href="/main" class="btn btn-dark btn-lg" role="button">Back</a>
  <a href="/logout" class="btn btn-dark btn-lg" role="button">Logout</a>
</div>

<%- include('partials/footer') %>
