<%- include('partials/header') %>

<h1 class="update-title">Updates</h1>
<div class="update-container">
  <ul class="update-list">
    <li>
      <span class="date-span">21/1/2024 </span> -A contact form was added on the
      <a href="/contact">Contact Us </a>page.
    </li>
    <li>
      <span class="date-span">21/1/2024 </span> -Delete account feature added
      see the <a href="/account">Account </a>page.
    </li>
    <li>
      <span class="date-span">20/1/2024 </span> -The navbar was created. It is a
      work in progress...
    </li>
  </ul>
</div>
<div class="main-btn-container">
  <a href="/main" class="btn btn-dark btn-lg" role="button">Back</a>
  <a href="/logout" class="btn btn-dark btn-lg" role="button">Logout</a>
</div>

<%- include('partials/footer') %>
