.account-title {
  margin: 20px;
}

.warning {
  color: darkred;
}

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.delete-account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid darkred;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.delete-account-form input {
  margin: 10px;
  width: 20px;
  height: 20px;
}

.account-message {
  margin: 20px;
}

.account-message li {
  font-weight: bold;
  font-size: 20px;
}
